.profile{
  .profile-card{
    img {
      max-width: 120px;
    }
    h2 {
      font-size: 24px;
      font-weight: 700;
      color: #2c384e;
      margin: 10px 0 0 0;
    }
    h3 {
      font-size: 18px;
    }
    .social-links a {
      font-size: 20px;
      display: inline-block;
      color: rgba(1, 41, 112, 0.5);
      line-height: 0;
      margin-right: 10px;
      transition: 0.3s;
      :hover {
        color: #012970;
      }
    }
  }
  .profile-overview {
    .row {
      margin-bottom: 20px;
      font-size: 15px;
    }
    .card-title {
      color: #012970;
    }
    .label {
      font-weight: 600;
      color: rgba(1, 41, 112, 0.6);
    }
  }
  .profile-edit {
    label {
      font-weight: 600;
      color: rgba(1, 41, 112, 0.6);
    }
    img {
      max-width: 120px;
    }
  }
}
