$sidebar-bg-color: #fff;
$sidebar-bg-hover-color: #e5e5e5;
$sidebar-text-color: #687387;
$sidebar-text-hover-color: #35495d;

$header-bg-color: #fff;
$header-bg-hover-color: #35495d;
$header-text-color: #687387;
$header-text-hover-color: #E7E7E7;
